aiosqlite==0.20.0
anthropic==0.23.1
audio-recorder-streamlit==0.0.8
authlib==1.2.0
autopep8==2.0.2
backoff==2.2.1
boto3==1.28.62
brotli==1.0.9
bs4==0.0.2
chromedriver-autoinstaller==0.6.4
colorama==0.4.6
conda==23.7.2
conda-content-trust==0.1.3
curtsies==0.4.1
db-sqlite3==0.0.1
docker==7.0.0
docstring-parser==0.15
faster-whisper==0.10.0
flask==2.2.2
gunicorn==21.2.0
hf-transfer==0.1.6
html2text==2024.2.26
ipywidgets==8.0.4
jupyter-console==6.6.3
jupyterlab==3.5.3
litellm==1.23.14
matplotlib==3.6.3
mistral==18.0.1
mlx==0.3.0
modal==0.62.63
moviepy==1.0.3
nltk==3.8.1
ollama==0.1.8
orjson==3.9.10
pinecone-client==2.2.1
pipreqs==0.4.13
plotly-express==0.4.1
ptpython==3.0.25
pyinstaller==5.9.0
pymongo==4.3.3
pynput==1.7.6
pyqt5==5.15.10
pysocks==1.7.1
python-telegram-bot==20.3
qtconsole==5.5.0
rq==1.15.1
ruamel.yaml==0.17.21
scikit-learn==1.2.2
selenium==4.20.0
shell-gpt==0.9.4
sip==6.7.12
spacy==3.5.0
stripe==8.2.0
tensorflow-macos==2.11.0
tensorflow-metal==0.7.0
tinydb==4.7.1
together==0.2.10
trafilatura==1.4.1
twine==5.0.0
uvicorn==0.22.0
virtualenv==20.19.0
watchdog==3.0.0
yfinance==0.2.9
